<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Hamza Zaroual">
<title>Kaizen - Register</title>
<link href="/assets/img/brand/share.png" rel="icon" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.22/css/uikit.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> 
<style>
  html,body{ overflow-x:hidden; }
</style>
  <style>
  .heart {
    width: 100px;
    height: 100px;
    position: absolute;
    /*left: 50%;
    top: 90%;*/
    transform: translate(-50%, -50%);
    /*background: url(http://imagizer.imageshack.com/img923/4545/XdJDuY.png) no-repeat;*/
    background: url("/assets/img/icons/heart.png") no-repeat;
    cursor: pointer;
  }
  .heart-blast {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  </style>
</head>